.chat-container{
  display: flex;
  flex-direction: column;
  background: white;
  padding-bottom: 90px;

}
#chat{
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  background: white;
  >ul{
    -webkit-overflow-scrolling: touch;
  }
}

.send-input{
  min-height: 90px;
  display: flex;
  flex-direction: row;
  position: absolute;
  width: 100%;
  .am-textarea-item{
    flex: 1;
  }
  bottom: -1px;
  .am-button{
    width: 100px;
  }
}
