@headImgWidth: 80px;
.home-row{
  padding: 0 20px;
  .am-list-content{
    font-size: 30px !important;
  }
  .am-list-item{
    padding-left: 0;
  }
  .am-list-item img{
    height: @headImgWidth;
    width: @headImgWidth;
    border-radius: 4px;
    margin-right: 9px;
  }
  .row-brief{
    font-size: 30px;
    color: black;
  }
}
