{
  "presets": [
    ["es2015", { "loose": true }],  // loose是一个比较松散的版本
    "stage-1",
    "react"
  ],
  "plugins": [
    "babel-plugin-add-module-exports",
    "transform-runtime",
    ["import", { "libraryName": "antd-mobile", "style": true }]
  ],
  "env": {
    "plugins": [
      "dva-hmr"
    ]
  }
}
