<!DOCTYPE html>
<html lang="en" data-scale="true">
<head>
  <meta charset="UTF-8">
  <script src="antm-viewport.min.js"></script>
  <script src="https://as.alipayobjects.com/g/component/fastclick/1.0.6/fastclick.js"></script>
  <meta name="author" content="bengi">
  <script>
    if ('addEventListener' in document) {
      document.addEventListener('DOMContentLoaded', function() {
        FastClick.attach(document.body);
      }, false);
    }
  </script>
  <!-- è¯´æ˜Žï¼šå¿½ç•¥é¡µé¢ä¸­çš„æ•°å­—è¯†åˆ«ä¸ºç”µè¯å·ç  -->
  <meta name="format-detection" content="telephone=no">
  <!-- è¯´æ˜Žï¼šå¿½ç•¥é¡µé¢ä¸­çš„é‚®ç®±æ ¼å¼ä¸ºé‚®ç®± -->
  <meta name="format-detection" content="email=no">
  <!-- ä¼˜å…ˆä½¿ç”¨ IE æœ€æ–°ç‰ˆæœ¬å’Œ Chrome -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>HiappðŸ˜„</title>

</head>
<body>
  <div id="root"></div>
</body>
</html>
