html {
  -webkit-overflow-scrolling: touch;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
  overflow-y: auto;
  font-family: PingFang-SC-Regular,Helvetica,sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

html, body, :global(#root) {
  height: 100%;
  color: #333;
  //.am-list-view-scrollview{
  //  overflow-y: auto;
  //}
  //.am-list-view-scrollview-content{
  //  min-height: 100%;
  //}
  //.am-pull-to-refresh-content-wrapper{
  //  min-height: 100%;
  //}
}
body{
  overflow-x: hidden;
  //overflow-y: auto;
}
#root {
  //position: fixed;
  //top: 0;
  //left: 0;
  //z-index: 11000;
  //width: 100%;
  //height: 100%;
}
//*{
//  &::-webkit-scrollbar {
//    height: 0;
//    overflow: visible;
//    width: 0;
//  }
//}
.am-tab-bar-item{
  overflow-y: auto;
}
